body{
	margin: 0px;
	padding: 0px;
}
a:hover{
	text-decoration: none;
}
.top-header{
	padding: 8px 0px;
	background: #4285F4;
}
.phone-clock{
	color: #fff;
}
.social-link {
	text-align: right;
}
.social-link a {
	color: #fff;
	padding: 0px 15px;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
}
.navbar {
	border-radius: 0px;
	border-bottom: none;
	margin-bottom: 0px;
}
.navbar-default{
	background: #fff;
}
.navbar-brand {
	height: 80px;
}
.navbar-default .navbar-nav > li > a {
	color: #666;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover{
	background: #4285F4;
	color: #fff;
}
.navbar-default .navbar-nav > li > a:focus{
	color:#666;
} 
.navbar-nav > li {
	float: left;
	margin-top: 10px;
}
/*slider-area sction*/
.slider-area {
	overflow: hidden;
}
.slider-bg{
	height: 500px;
	background-size: cover !important;
}
.carousel-indicators li{
	width: 35px;
	height: 15px;
	border-radius: 0px;
}
.carousel-indicators .active{
	width: 35px;
	height: 15px;
	border-radius: 0px;
	background: #4285F4;
}
.glyphicon-chevron-right, .glyphicon-chevron-left{
	color:#4285F4;
}
.carousel-inner > .overlay:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.5);
}
.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
}
.carousel-caption h2 {
	font-size: 28px;
	margin-top: 0px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #ddd;
}
.carousel-caption p {
	font-size: 17px;
	line-height: 26px;
	margin-bottom: 30px;
}
.delay{
	animation-delay: .5s;
}
.btn-slide {
	height: 50px;
	width: 125px;
	border-radius: 0px;
	background: transparent;
	transition: .5s;
	font-size: 19px;
	overflow: hidden;
	margin: auto;
	text-transform: capitalize;
}
.btn-slide:hover{
	background: #4285F4;
}
/* notice-area section */
.welcome-area{
	min-height: 200px;
	padding: 70px 0px; 
}
.content-title h2 {
	margin: 0px;
	color: #777;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 40px;
}
.content-title h2::before {
	position: absolute;
	content: "";
	background: #4285F4;
	height: 2px;
	width: 40px;
	top: 50px;
}
.content-title h2::after {
	position: absolute;
	content: "";
	background: #4285F4;
	height: 2px;
	width: 100px;
	top: 50px;
	left: 50px;
}
.video-content p{
	margin: 15px 0px;
	color: #777;
	line-height: 24px;
	text-align: justify;
	font-size: 16px;
}
.readmore {
	display: block;
	background: #4285F4;
	padding: 13px 0px;
	text-align: center;
	border: 1px solid #000;
	color: #000;
	text-transform: uppercase;
	transition: .5s;
	width: 100%;
}
.wid{
	width: 150px;
}
 .readmore:hover{
	background: #FFAF65;
	color: #fff;
}
.video-content a{
	text-decoration: none;
}
/* notie-box  */
.notice-box{
	min-height: 200px;
	width: 100%;
	padding: 15px;
	border: 2px solid #4285F4;
	display: block;
	overflow: hidden;
	margin-bottom: 45px;
}
.notice-box marquee{
	height: 400px;
}
.single-notice{
	margin-bottom: 30px;
}
.single-notice p.date{
	margin: 0px;
	color: #4285F4;
	font-size: 20px;

}
.single-notice h2{
	margin: 10px 0px;
	color: #777;
	display: block;
	text-transform: uppercase;
	font-size: 25px;
}
.single-notice p{
	color: #777;
	display: block;
	font-size: 16px;
	text-align: justify;
	line-height: 20px;
}
.single-notice p:hover{
	color: #4285F4;
}
.single-notice a{
	text-decoration: none;
}
/* future-area section */
#future-area{
	min-height: 200px;
	padding: 70px 0px;
	background: url(../img/feature-bg.jpg) center center;
	position: relative;
	margin-bottom: 20px;
}
.myoverlay{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.7);
}
.future-title{
	color: #fff !important;
}
.future-owl{
	color: #fff;
}
.single-future{
	text-align: center;
}
.single-future .future-icon {
	font-size: 45px;
	color: #FFAF65;
	transition: .5s;
}
.single-future .future-icon:hover {
	color: #4285F4;
}
.single-future h3 {
	margin: 0;
	margin: 18px 0px;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	overflow: hidden;
	display: block;
	color: #fff;
}
.single-future p {
	font-size: 17px;
	text-align: justify;
	overflow: hidden;
	display: block;
}
.owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute;
	background: #4285F4;
	display: block;
	overflow: hidden;
	top: -84px;
	right: 10px;
}
.owl-theme .owl-nav [class*="owl-"] {
	color: #FFF;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: transparent;
	display: inline-block;
	cursor: pointer;
}
.owl-next i {
	font-size: 20px;
	padding: 0px 7px;
}
.owl-prev i {
	font-size: 20px;
	padding: 0px 7px;
}
/* .angel::before {
	border-top: 30px solid transparent;
	border-bottom: 30px solid #4285F4;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	content: "";
	top: -102px;
	right: 81px;
} */

/* course-area section */
#course-area{
	min-height: 400px;
	padding: 70px 0px;
}
.single-course {
	text-align: center;
}
